<form action="/new_item" method="POST">
	name: <input type="text" name="name"><br/>
	description: <input type="text" name="description"><br/>
	quantity: <input type="Integer" name="quantity">
	price: <input type="Integer" name="price">
</form>