<form action = "/new_item" method="POST">
	item name <input type="text" name="name"><br/>
	 description <input type="text" name="description"><br/>
	 QTY <input type="Integer" name="quantity"><br/>
	  $ <input type="Integer" name="price"><br/>
	  <input type="submit" value="enter">
</form>


